{"openapi":"3.0.0","info":{"title":"EVC Api","version":"1.0"},"servers":[{"url":"http:\/\/api.evc.com\/","description":"\u672c\u5730"},{"url":"http:\/\/evc.api.php.8kpay.com:10001\/","description":"\u6d4b\u8bd5"},{"url":"http:\/\/XXX.com","description":"\u6b63\u5f0f"}],"paths":{"\/coin-list":{"get":{"tags":["Coin"],"summary":"\u5e01\u79cd\u5217\u8868","description":"\u5e01\u79cd\u5217\u8868","operationId":"\/coin-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/single-coin":{"get":{"tags":["Coin"],"summary":"\u6839\u636e\u5e01\u79cdId\u83b7\u53d6\u5e01\u79cd","description":"\u6839\u636e\u5e01\u79cdId\u83b7\u53d6\u5e01\u79cd","operationId":"\/single-coin","parameters":[{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/coin-balance":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5e01\u79cd\u4f59\u989d","description":"\u83b7\u53d6\u5e01\u79cd\u4f59\u989d","operationId":"\/coin-balance","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/coin-single-balance":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5355\u4e2a\u5e01\u79cd\u4f59\u989d","description":"\u83b7\u53d6\u5355\u4e2a\u5e01\u79cd\u4f59\u989d","operationId":"\/coin-single-balance","parameters":[{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/withdraw-detail":{"get":{"tags":["Coin"],"summary":"\u63d0\u5e01\u8be6\u60c5","description":"\u63d0\u5e01\u8be6\u60c5","operationId":"\/withdraw-detail","parameters":[{"$ref":"#\/components\/parameters\/WithdrawId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-detail":{"get":{"tags":["Coin"],"summary":"\u5145\u503c\u8be6\u60c5","description":"\u5145\u503c\u8be6\u60c5","operationId":"\/recharge-detail","parameters":[{"$ref":"#\/components\/parameters\/RechargeId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-address":{"get":{"tags":["Coin"],"summary":"\u83b7\u53d6\u5145\u503c\u5730\u5740","description":"\u83b7\u53d6\u5145\u503c\u5730\u5740","operationId":"\/recharge-address","parameters":[{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge-withdraw":{"get":{"tags":["Coin"],"summary":"\u5145\u63d0\u8bb0\u5f55","description":"\u5145\u63d0\u8bb0\u5f55","operationId":"\/recharge-withdraw","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"},{"$ref":"#\/components\/parameters\/CoinId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/recharge":{"post":{"tags":["Coin"],"summary":"\u63d0\u73b0","description":"\u63d0\u73b0","operationId":"\/recharge","parameters":[{"$ref":"#\/components\/parameters\/CoinId"},{"$ref":"#\/components\/parameters\/Money"},{"$ref":"#\/components\/parameters\/Address"},{"$ref":"#\/components\/parameters\/Memo"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/total-balance":{"get":{"tags":["Coin"],"summary":"\u94b1\u5305\u603b\u8d44\u4ea7(USDT)","description":"\u94b1\u5305\u603b\u8d44\u4ea7(USDT)","operationId":"\/total-balance","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/notice-list":{"get":{"tags":["Common"],"summary":"\u6d88\u606f\u5217\u8868","description":"\u6d88\u606f\u5217\u8868","operationId":"\/notice-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/notice-detail":{"get":{"tags":["Common"],"summary":"\u6d88\u606f\u5217\u8868","description":"\u6d88\u606f\u5217\u8868","operationId":"\/notice-detail","parameters":[{"$ref":"#\/components\/parameters\/NoticeId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/banner-list":{"get":{"tags":["Common"],"summary":"Banner\u5217\u8868","description":"Banner\u5217\u8868","operationId":"\/banner-list","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/qiniu-upload":{"get":{"tags":["Common"],"summary":"\u4e03\u725b\u4e0a\u4f20Token","description":"\u4e03\u725b\u4e0a\u4f20Token","operationId":"\/qiniu-upload","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/common-question":{"get":{"tags":["Common"],"summary":"\u5e38\u89c1\u95ee\u9898","description":"\u5e38\u89c1\u95ee\u9898","operationId":"\/common-question","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-forget-paypassword":{"post":{"tags":["Member"],"summary":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","description":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","operationId":"\/member-forget-paypassword","parameters":[{"$ref":"#\/components\/parameters\/Email"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/NewPayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-forget-password":{"post":{"tags":["Member"],"summary":"\u5fd8\u8bb0\u5bc6\u7801","description":"\u5fd8\u8bb0\u5bc6\u7801","operationId":"\/member-forget-password","parameters":[{"$ref":"#\/components\/parameters\/Email"},{"$ref":"#\/components\/parameters\/AuthCode"},{"$ref":"#\/components\/parameters\/NewPassword"},{"$ref":"#\/components\/parameters\/RepeatPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-modify-avatar":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u5934\u50cf","description":"\u4fee\u6539\u5934\u50cf","operationId":"\/member-modify-avatar","parameters":[{"$ref":"#\/components\/parameters\/Avatar"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-nick":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u6635\u79f0","description":"\u4fee\u6539\u6635\u79f0","operationId":"\/member-modify-nick","parameters":[{"$ref":"#\/components\/parameters\/NickName"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-paypassword":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u4ea4\u6613\u5bc6\u7801","description":"\u4fee\u6539\u4ea4\u6613\u5bc6\u7801","operationId":"\/member-modify-paypassword","parameters":[{"$ref":"#\/components\/parameters\/OldPayPassword"},{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-modify-password":{"post":{"tags":["Member"],"summary":"\u4fee\u6539\u767b\u5f55\u5bc6\u7801","description":"\u4fee\u6539\u767b\u5f55\u5bc6\u7801","operationId":"\/member-modify-password","parameters":[{"$ref":"#\/components\/parameters\/OldPassword"},{"$ref":"#\/components\/parameters\/Password"},{"$ref":"#\/components\/parameters\/RepeatPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-invite":{"get":{"tags":["Member"],"summary":"\u6211\u7684\u56e2\u961f\u4e0a\u9762\u84dd\u8272\u6846\u6846\u7684\u6570\u636e","description":"\u6211\u7684\u56e2\u961f\u4e0a\u9762\u84dd\u8272\u6846\u6846\u7684\u6570\u636e","operationId":"\/member-invite","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/invite-list":{"get":{"tags":["Member"],"summary":"\u76f4\u63a8\u5217\u8868","description":"\u76f4\u63a8\u5217\u8868","operationId":"\/invite-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-info":{"get":{"tags":["Member"],"summary":"\u7528\u6237\u8d44\u6599","description":"\u7528\u6237\u8d44\u6599","operationId":"\/member-info","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/member-login":{"post":{"tags":["Member"],"summary":"\u8d26\u53f7\u5bc6\u7801\u767b\u5f55","description":"\u8d26\u53f7\u5bc6\u7801\u767b\u5f55","operationId":"\/member-login","parameters":[{"$ref":"#\/components\/parameters\/Email"},{"$ref":"#\/components\/parameters\/Password"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/member-register":{"post":{"tags":["Member"],"summary":"\u6ce8\u518c","description":"\u6ce8\u518c","operationId":"\/member-register","parameters":[{"$ref":"#\/components\/parameters\/Email"},{"$ref":"#\/components\/parameters\/Password"},{"$ref":"#\/components\/parameters\/RepeatPassword"},{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/RepeatPayPassword"},{"$ref":"#\/components\/parameters\/InviteCode"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/finace-list":{"get":{"tags":["Stream"],"summary":"\u8d44\u91d1\u53d8\u52a8\u5217\u8868","description":"\u8d44\u91d1\u53d8\u52a8\u5217\u8868","operationId":"\/finace-list","parameters":[{"$ref":"#\/components\/parameters\/TurnoverType"},{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/finace-molds":{"get":{"tags":["Stream"],"summary":"\u8d44\u91d1\u53d8\u52a8\u7c7b\u578b","description":"\u8d44\u91d1\u53d8\u52a8\u7c7b\u578b","operationId":"\/finace-molds","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/balance-list":{"get":{"tags":["Member"],"summary":"\u6536\u76ca\u8d26\u6237","description":"\u6536\u76ca\u8d26\u6237","operationId":"\/balance-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/auth-member":{"post":{"tags":["Member"],"summary":"\u5b9e\u540d\u8ba4\u8bc1","description":"\u5b9e\u540d\u8ba4\u8bc1","operationId":"\/auth-member","parameters":[{"$ref":"#\/components\/parameters\/IdCard"},{"$ref":"#\/components\/parameters\/RealName"},{"$ref":"#\/components\/parameters\/IdCardImg"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/bind-phone":{"post":{"tags":["Member"],"summary":"\u7ed1\u5b9a\u624b\u673a\u53f7","description":"\u7ed1\u5b9a\u624b\u673a\u53f7","operationId":"\/bind-phone","parameters":[{"$ref":"#\/components\/parameters\/Phone"},{"$ref":"#\/components\/parameters\/AuthCode"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/unsealing":{"post":{"tags":["Member"],"summary":"\u89e3\u5c01","description":"\u89e3\u5c01","operationId":"\/unsealing","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/balance-withdraw":{"post":{"tags":["Member"],"summary":"\u6536\u76ca\u63d0\u73b0","description":"\u6536\u76ca\u63d0\u73b0","operationId":"\/balance-withdraw","parameters":[{"$ref":"#\/components\/parameters\/PayPassword"},{"$ref":"#\/components\/parameters\/WithdrawNumber"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/withdraw-fee":{"get":{"tags":["Member"],"summary":"\u6536\u76ca\u63d0\u73b0\u624b\u7eed\u8d39\u6bd4\u4f8b","description":"\u6536\u76ca\u63d0\u73b0\u624b\u7eed\u8d39\u6bd4\u4f8b","operationId":"\/withdraw-fee","responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/plan-product":{"post":{"tags":["Product"],"summary":"\u9884\u7ea6","description":"\u9884\u7ea6","operationId":"\/plan-product","parameters":[{"$ref":"#\/components\/parameters\/ProductId"},{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/pay-product":{"post":{"tags":["Product"],"summary":"\u62a5\u5355","description":"\u62a5\u5355","operationId":"\/pay-product","parameters":[{"$ref":"#\/components\/parameters\/PayPassword"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-list":{"get":{"tags":["Product"],"summary":"\u4ea7\u54c1\u5217\u8868","description":"\u4ea7\u54c1\u5217\u8868","operationId":"\/product-list","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/product-detail":{"get":{"tags":["Product"],"summary":"\u4ea7\u54c1\u8be6\u60c5","description":"\u4ea7\u54c1\u8be6\u60c5","operationId":"\/product-detail","parameters":[{"$ref":"#\/components\/parameters\/ProductId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/my-product":{"get":{"tags":["Product"],"summary":"\u6211\u7684\u5e7f\u544a\u5305","description":"\u6211\u7684\u5e7f\u544a\u5305","operationId":"\/my-product","parameters":[{"$ref":"#\/components\/parameters\/page"},{"$ref":"#\/components\/parameters\/count"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/my-detail":{"get":{"tags":["Product"],"summary":"\u5e7f\u544a\u5305\u6295\u8d44\u8be6\u60c5","description":"\u5e7f\u544a\u5305\u6295\u8d44\u8be6\u60c5","operationId":"\/my-detail","parameters":[{"$ref":"#\/components\/parameters\/MemberProductId"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}},"security":[{"Authorization":[]}]}},"\/sms-modify-paypass":{"post":{"tags":["SMS"],"summary":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","description":"\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801","operationId":"\/sms-modify-paypass","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-modify-pass":{"post":{"tags":["SMS"],"summary":"\u5fd8\u8bb0\u5bc6\u7801","description":"\u5fd8\u8bb0\u5bc6\u7801","operationId":"\/sms-modify-pass","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-register-code":{"post":{"tags":["SMS"],"summary":"\u53d1\u9001\u6ce8\u518c\u9a8c\u8bc1\u7801","description":"\u53d1\u9001\u6ce8\u518c\u9a8c\u8bc1\u7801","operationId":"\/sms-register-code","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/sms-bindphone-code":{"post":{"tags":["SMS"],"summary":"\u53d1\u9001\u7ed1\u5b9a\u624b\u673a\u9a8c\u8bc1\u7801","description":"\u53d1\u9001\u7ed1\u5b9a\u624b\u673a\u9a8c\u8bc1\u7801","operationId":"\/sms-bindphone-code","parameters":[{"$ref":"#\/components\/parameters\/Phone"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/email-register-code":{"post":{"tags":["SMS"],"summary":"\u90ae\u7bb1\u6ce8\u518c\u9a8c\u8bc1\u7801","description":"\u90ae\u7bb1\u6ce8\u518c\u9a8c\u8bc1\u7801","operationId":"\/email-register-code","parameters":[{"$ref":"#\/components\/parameters\/Email"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/email-modify-pass":{"post":{"tags":["SMS"],"summary":"\u90ae\u7bb1\u5fd8\u8bb0\u5bc6\u7801\u9a8c\u8bc1\u7801","description":"\u90ae\u7bb1\u5fd8\u8bb0\u5bc6\u7801\u9a8c\u8bc1\u7801","operationId":"\/email-modify-pass","parameters":[{"$ref":"#\/components\/parameters\/Email"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}},"\/email-modify-pay-pass":{"post":{"tags":["SMS"],"summary":"\u90ae\u7bb1\u5fd8\u8bb0\u4ea4\u6613\u5bc6\u7801\u9a8c\u8bc1\u7801","description":"\u90ae\u7bb1\u5fd8\u8bb0\u5bc6\u7801\u9a8c\u8bc1\u7801","operationId":"\/email-modify-pay-pass","parameters":[{"$ref":"#\/components\/parameters\/Email"}],"responses":{"200":{"description":"\u64cd\u4f5c\u6210\u529f","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/success"}}}}}}}},"components":{"schemas":{"success":{"type":"object","allOf":[{"required":["id"],"properties":{"status":{"description":"\u72b6\u6001","type":"integer","default":"1"},"msg":{"description":"\u4fe1\u606f","type":"string","default":"\u64cd\u4f5c\u6210\u529f"},"data":{"type":"object","allOf":[]}},"type":"object"}]},"error":{"properties":{"status":{"type":"integer","format":"int32"},"msg":{"type":"string"}},"type":"object"},"MachineDetail":{"type":"object","allOf":[{"properties":{"status":{"description":"\u72b6\u6001","type":"integer","default":"1"},"msg":{"description":"\u4fe1\u606f","type":"string","default":"\u64cd\u4f5c\u6210\u529f"},"data":{"type":"object","allOf":[{"properties":{"Period":{"description":"\u671f\u6b21","type":"integer"},"LuckJackpotListId":{"description":"\u5173\u8054\u5956\u6c60ID","type":"integer"},"MemberId":{"description":"\u7528\u6237ID","type":"integer"},"AddTime":{"description":"\u6dfb\u52a0\u65f6\u95f4","type":"integer"},"Money":{"description":"\u53d8\u52a8\u91d1\u989d\uff08<0\u672a\u4e2d\u5956  >0\u4e2d\u5956\uff09","type":"decimal"},"mobile":{"description":"\u5173\u8054\u5956\u6c60ID","type":"integer"}},"type":"object"}]}},"type":"object"}]},"member-token":{"title":"\u7528\u6237Token","type":"object"}},"parameters":{"CoinId":{"name":"Id","in":"query","description":"\u5e01\u79cdId","required":true,"schema":{"type":"integer"}},"WithdrawId":{"name":"Id","in":"query","description":"\u63d0\u73b0ID","required":true,"schema":{"type":"integer"}},"RechargeId":{"name":"Id","in":"query","description":"\u5145\u503cID","required":true,"schema":{"type":"integer"}},"Money":{"name":"Money","in":"query","description":"\u91d1\u989d","required":true,"schema":{"type":"string"}},"Address":{"name":"Address","in":"query","description":"\u5730\u5740","required":true,"schema":{"type":"string"}},"Memo":{"name":"Memo","in":"query","description":"\u63d0\u73b0\u5907\u6ce8","required":false,"schema":{"type":"string"}},"page":{"name":"page","in":"query","description":"\u9875\u6570","required":false,"schema":{"type":"integer","format":"int64"}},"count":{"name":"count","in":"query","description":"\u6761\u6570","required":false,"schema":{"type":"integer","format":"int64"}},"number":{"name":"number","in":"query","description":"\u6570\u91cf","required":true,"schema":{"type":"integer"}},"NoticeId":{"name":"Id","in":"query","description":"\u6d88\u606fID","required":true,"schema":{"type":"integer"}},"Phone":{"name":"Phone","in":"query","description":"\u624b\u673a\u53f7","required":true,"schema":{"type":"integer"}},"Password":{"name":"Password","in":"query","description":"\u5bc6\u7801","required":true,"schema":{"type":"string"}},"RepeatPassword":{"name":"RepeatPassword","in":"query","description":"\u91cd\u590d\u5bc6\u7801","required":false,"schema":{"type":"string"}},"PayPassword":{"name":"PayPassword","in":"query","description":"\u652f\u4ed8\u5bc6\u7801","required":true,"schema":{"type":"string"}},"RepeatPayPassword":{"name":"RepeatPayPassword","in":"query","description":"\u91cd\u590d\u652f\u4ed8\u5bc6\u7801","required":false,"schema":{"type":"string"}},"InviteCode":{"name":"InviteCode","in":"query","description":"\u9080\u8bf7\u7801","required":false,"schema":{"type":"integer"}},"AuthCode":{"name":"AuthCode","in":"query","description":"\u9a8c\u8bc1\u7801","required":true,"schema":{"type":"integer"}},"OldPassword":{"name":"OldPassword","in":"query","description":"\u539f\u5bc6\u7801","required":true,"schema":{"type":"string"}},"OldPayPassword":{"name":"OldPayPassword","in":"query","description":"\u539f\u4ea4\u6613\u5bc6\u7801","required":true,"schema":{"type":"string"}},"NickName":{"name":"NickName","in":"query","description":"\u6635\u79f0","required":true,"schema":{"type":"string"}},"Avatar":{"name":"Avatar","in":"query","description":"\u5934\u50cf","required":true,"schema":{"type":"string"}},"NewPassword":{"name":"NewPassword","in":"query","description":"\u65b0\u5bc6\u7801","required":true,"schema":{"type":"string"}},"NewPayPassword":{"name":"NewPayPassword","in":"query","description":"\u65b0\u4ea4\u6613\u5bc6\u7801","required":true,"schema":{"type":"string"}},"TurnoverType":{"name":"Type","in":"query","description":"\u7c7b\u578bId 0\u4e3a\u5168\u90e8","required":false,"schema":{"type":"integer"}},"Email":{"name":"Email","in":"query","description":"\u90ae\u7bb1 ","required":true,"schema":{"type":"string"}},"IdCard":{"name":"IdCard","in":"query","description":"\u8eab\u4efd\u8bc1\u53f7","required":true,"schema":{"type":"string"}},"RealName":{"name":"Name","in":"query","description":"\u771f\u5b9e\u59d3\u540d","required":true,"schema":{"type":"string"}},"IdCardImg":{"name":"IdCardImg","in":"query","description":"\u8eab\u4efd\u8bc1\u7167\u7247,\u6570\u7ec4\u5b57\u7b26\u4e32","required":true,"schema":{"type":"string"}},"WithdrawNumber":{"name":"Number","in":"query","description":"\u63d0\u73b0\u6570\u91cf","required":true,"schema":{"type":"string"}},"ProductId":{"name":"Id","in":"query","description":"\u4ea7\u54c1Id","required":true,"schema":{"type":"integer"}},"MemberProductId":{"name":"Id","in":"query","description":"\u6211\u7684\u5e7f\u544a\u5305Id","required":true,"schema":{"type":"integer"}}},"securitySchemes":{"Authorization":{"type":"apiKey","description":"Token\u68c0\u9a8c","name":"Authorization","in":"header"},"passport":{"type":"oauth2","description":"Laravel passport oauth2 security.","in":"header","scheme":"https","flows":{"password":{"authorizationUrl":"http:\/\/localhost\/oauth\/authorize","tokenUrl":"http:\/\/localhost\/oauth\/token","refreshUrl":"http:\/\/localhost\/token\/refresh","scopes":[]}}}}}}